.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

    margin: 25px;
}

.name{
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.description{
    max-width: 400px;
}

.loading{
    font-size: 24px;
    font-weight: bold;
}